@import url("https://fonts.googleapis.com/css?family=Cute+Font|Merienda");

.one{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%; 
    font-family:'Merienda one';

  }
  .one h1{
    padding: 3px;
    margin: 7px;
  }
  .landing p{
    padding: 3px;
  }
  #logo{
    margin-top: 12px;
    margin-bottom: 25px;
    width: 73px;
    height: 73px;;
  }
  #mouse-click{
    padding-top : 20px;
    margin-top: 12%;
    padding-bottom: 32px; 
    
  }
  .about{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: 'Copse', serif;
  }
  .serv{
    text-align: center;
    background-image: url("../assets/backgrounds/s_image.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Merienda one';
    font-size: 18px;
  }
  .services h2{
    font-family: 'Gabriela', serif;
    
  }
  #servicesoverlay{
    background-color: rgba(0,0,0,0.5);
    padding-top: 12%;
    padding-bottom: 12%;
  }
  what-we-do .two{
    padding-bottom: 40px;
  }
  .what-we-do{
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela', serif;
  }
  
  #portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:10%;
  margin-right: 2%;
  margin-bottom: 5%;
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portf h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Gabriela', serif;
  }
  .contact{
    background-image: url('../assets/backgrounds/c_image.jpg');
    padding-top: 20px;
    background-position: cover;
    width: 100%;
    margin-top: 3%;
        
      }

      .title{
        padding: 6px;
      }
      .contact h2{
        text-align: center;
        margin-top: 30px;
        padding-top: 40px;
        padding-bottom: 20px;
        font-family: 'Gabriela', serif;
        color: white;
      }
   
  
#product, #development, #design{
    display: none;
    font-family: 'Copse', serif;
    font-size: 16px;
  }
  #product .title, #development .title, #design .title{
    font-size: 20px;
    font-weight: 600;
  }
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    display: none;
    color: black;
    width: 90%;
    height: 90%;
    background-color:rgba(255, 255, 255, 0.456);
    top: 0px;
    left: 0px;
    position:absolute;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    font-family: 'Delius Swash Caps', cursive;
  }
  #form input,#name,#email,#form textarea{
    width:35%;
    background-color: transparent;
  
  }
  #name{
    margin-left: 12%;
    
  }
  #email{
    margin-left:5%;
    
  }
  
  #email::placeholder{
    color: white;
  }
  
  #name::placeholder{
    color: white;
    font-family: 'Gabriela', serif;
  }
  textarea::placeholder{
    color: white;
    font-family: 'Gabriela', serif;
  }
  #form1 textarea{
    background-color: transparent;
    font-family: 'Gabriela', serif;
    color: white;
  }
  input[type=submit]{
    background-color: blue;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
  }

  footer{
    text-align: center;
    padding-top: 30px;
    font-family: 'Delius Swash Caps', cursive;
  }